%p
  %a{:href => "/addresses/new"}
    Create New Address

%p
  Current Addresses:

%table{:border => "1"}
  %tr
    %td
      = "id"
    %td
      = "modify"
    %td
      = "delete"
    %td
      = "user_id"
    %td
      = "type"
    %td
      = "name"
    %td
      = "address1"
    %td
      = "address2"
    %td
      = "city"
    %td
      = "state"
    %td
      = "phone"
    %td
      = "created_at"
    %td
      = "updated_at"

  - @addresses.each do |address|
    %tr
      %td
        = address.id
      %td
        %a{:href => "/addresses/update?id="+address.id.to_s}
          Modify
      %td
        %a{:href => "/addresses/destroy?id="+address.id.to_s}
          Delete
      %td
        = address.user_id
      %td
        = address.address_type
      %td
        = address.name
      %td
        = address.address1
      %td
        = address.address2
      %td
        = address.city
      %td
        = address.state
      %td
        = address.phone
      %td
        = address.created_at
      %td
        = address.updated_at

